/*
index.css
*/
.container{
    align-items: center;
    margin: 30px 30px;
}

h1{
    text-align: center;
    font-weight: 200;
    margin: 20px 20px;
}

#span1 {
    background-color:rgb(33, 152, 226);
    color: white;
    border-radius: 3px;
    padding:2px;
}

#span2{
    color: rgb(33, 152, 226);
    font-weight: lighter;
}

.form:hover{
    align-items:center;
}

.names{
    display:flex;  
    
}

.fname, .psw{
    margin-right: 15px;
}
.lname, .confpsw{

    margin-left: 15px;
}
.pswd{
    display: flex;

}


.buttons{
    align-content: center;
}

button{
    border: none;
    color: white;
    padding: 5px 30px;
    align-items: center;
    width: 300px;
}

#register{
    background-color:rgb(33, 152, 226) ;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#signin{
    background-color: rgb(58, 166, 58);
    border-radius: 5px;
    margin: 10px;
    padding:5px 5px;
}